<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">
		
	<bean id="area" class="segment.Area">
		<property name="xStart">			
			<value>0</value>
		</property>
		<property name="yStart">			
			<value>0</value>
		</property>
		<property name="xNum">			
			<value>100</value>
		</property>
		<property name="yNum">			
			<value>100</value>
		</property>
		<property name="ounit">			
			<value>0.5</value>
		</property>
		<property name="xLevel">			
			<value>0.03</value>
		</property>
		<property name="k">			
			<value>2</value>
		</property>
		<property name="xZero">			
			<value>0.06</value>
		</property>
		<property name="weightThreshold">			
			<value>0.25</value>
		</property>
		<property name="minNegArea">			
			<value>10</value>
		</property>
		<property name="minPosArea">			
			<value>10</value>
		</property>
		<property name="samplingHops">			
			<value>3</value>
		</property>
	</bean>
</beans>
